.idea/
.ipynb_checkpoints/
Untitled.ipynb
__pycache__/
best_model (1).pth
best_model (2).pth
captured_actions/
data/archive/20bn-jester-download-package-labels/
data/archive/Test.csv
data/archive/Test/
data/archive/Train/
data/archive/Validation/
data/processed_test.zip
data/processed_train.zip
data/processed_validation.zip
data/processed_test/
data/processed_train/
data/processed_validation/
motion_recognition.ipynb
bfg-1.14.0.jar